body {
    background-color: slategrey;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

button { margin-top: 1rem; }

#maingrid {
    display: flex;
    flex-direction: column;
    height: 64rem;
    width: 64rem;
}

.maingrid-row {
    display: flex;
}

.maingrid-item {
    display: flex;
    background-color: white;
    box-sizing: border-box;
    border: 0.025rem solid black;
    margin: 0;
    padding: 0;
}

.mg-item__hovered {
    background-color: darkgrey;
}