body {
    background-color: slategrey;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#maingrid {
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 25rem;
}

.maingrid-row {
    display: flex;
}

.maingrid-item {
    height: 3rem;
    width: 3rem;
    background-color: white;
    margin: 0.1rem;
    padding: 0;
}

.mg-item__hovered {
    background-color: darkgrey;
}